@import './vars';

html {
    background-color: #0C0C0C;
    color: #FFFFFF;
    font-family: 'Archivo', sans-serif;
    padding: 20px;

    @media (min-width: $tablet) {
        padding: 40px;
    }

    @media (min-width: $desk) {
        padding: 80px;
    }
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: #FFFFFF;
}

main {
    background-color: #0C0C0C;
    z-index: 2;
    position: relative;
}

header,
footer {
    color: #FFFFFF;
}