.nav {
    width: 100%;
    float: left;

    @media (min-width: 768px) {
        // tablet
        float: right;
        width: 40%;
        text-align: right;
    }

    @media (min-width: 1200px) {
        // desk
    }
}

.social-menu {
    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
    }

    a {
        font-size: 20px;
        padding: .3rem 0;
        display: block;
        color: #fff;
        opacity: 0.5;
        text-decoration: none;

        @media (min-width: 768px) {
            // tablet
        }

        @media (min-width: 1200px) {
            // desk
            font-size: 30px;
        }

        &:hover {
            opacity: 1;
        }
    }
}